[Desktop Entry]
Version=0.6.2
Type=Application
Name=Masonry
GenericName=Mason-Graph Editor
Comment=A graphical tool to visualize and compute signal-flow graphs (or Mason graphs).
Exec=masonry %f
TryExec=masonry
Icon=masonry
Terminal=false
Categories=Education;Engineering;Qt;
StartupNotify=false
MimeType=text/x-masonry;
